body, table,
section, h, p, form,
fieldset, legend,
ol, ul, li, dl, dt, dd { margin: 0; padding: 0; border: 0; font-weight: normal; list-style: none; }
table { border: 0; border-collapse: collapse; }
table td { padding: 0; font-size: 1em; vertical-align: top; }
img { vertical-align: middle; }
a { cursor: pointer; text-decoration: none; color: #382; }
a:hover { text-decoration: underline; }
a img { border: 0; }
html, input, select, textarea, button { font-family: Tahoma, Arial, sans-serif; }
section, h { display: block; }

html { background: #eee; font-size: 22px; }

code { font-family: 'Lucida Console', 'courier new', monospace; line-height: 1em; }

.main-wrapper { max-width: 610px; margin: 25px auto; padding: 25px; border: 1px solid #aaa; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; background: #fff; }

.blog-name { display: block; text-align: center; padding: 15px; margin: -10px; margin-bottom: 15px; font-size: 20px; color: #fff; background: #5a2; border: 1px solid #680; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.blog-name:hover { text-decoration: none; }

.posts-list .item { margin: 0 0 1em 0; }
.posts-list .item:last-child { margin-bottom: 0; }
.posts-list .post-preview { display: block; text-decoration: none; }
.posts-list .post-preview .title { display: block; }
.posts-list .post-preview .description,
.posts-list .post-preview .date { font-size: 0.7em; }
.posts-list .post-preview .description { color: #555; margin-left: 0em; }
.posts-list .post-preview .date { color: #aaa; display: block; }
/*.posts-list .post-preview .description { display: none; }*/
.posts-list .item:hover .post-preview .title { text-decoration: underline; }
/*.posts-list .item:hover .post-preview .description { display: inline; }*/
/*.posts-list .post-preview .date { display: none; }*/

.post .date { display: block; color: #ccc; margin: 0 0 0.5em 0; }
.post section { overflow: hidden; margin: 0 0 0 0; }
.post section h { font-size: 26px; }
.post section section h { font-size: 22px; }
.post section section section h { font-size: 20px; }
.post section section section section h { font-size: 18px; }
.post section img.aside { float: left; margin: 0 15px 15px 0; }
.post { font-family: Times New Roman, serif; }
.post h { margin: 0.5em 0 0.2em 0; }
.post h a { color: inherit; cursor: default; }
.post h a:hover { text-decoration: none; }
/*.post h a:hover:after { content: ' (anhor)'; opacity: 0.3; }*/
/*.post p, .post dl, .post ol, .post ul { margin: 0.25em 0 1em 0; }*/
.post ol, .post ul { margin-left: 2em; }
.post ol li { list-style: decimal; }
.post ul li { list-style: disc; }

.post .tags { font-size: 0.8em; margin: 1em 0; }
.post .tags .list { color: #888; }
.post .tags .head,
.post .tags .body,
.post .tags .list,
.post .tags .tag { display: inline; margin: 0; }
.post .tags .tag { margin-right: 0.1em; }
.post .tags .tag:after { content: ', '; }
.post .tags .tag:last-child:after { content: '.'; }

.post .comments { margin: 1em 0; }



/*

Sunburst-like style (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre code {
  font: 1em / 1.3em 'Monaco', 'Lucida Console', 'courier new', monospace;
  color: #f8f8f8;
}

pre {
  background: #000;
}

pre .comment,
pre .template_comment,
pre .javadoc {
  color: #aeaeae;
  font-style: italic;
}

pre .keyword,
pre .ruby .function .keyword,
pre .operator {
  color: #E28964;
}

pre .function .keyword,
pre .sub .keyword,
pre .method,
pre .list .title,
pre .storage {
  color: #99CF50;
}

pre .string,
pre .attribute .value,
pre .cdata,
pre .filter .argument,
pre .attr_selector,
pre .apache .cbracket,
pre .date,
pre .tex .command {
  color: #65B042;
}

pre .string .escape {
  color: #d3f2a4;
}

pre .subst {
  color: #DAEFA3;
}

pre .regexp {
  color: #E9C062;
}

pre .regexp .escape {
  color: #cf7d34;
}

pre .function .title,
pre .sub .identifier,
pre .pi,
pre .tag,
pre .tag .keyword,
pre .decorator,
pre .ini .title,
pre .shebang {
  color: #89BDFF;
}

pre .class .title,
pre .smalltalk .class,
pre .javadoctag,
pre .phpdoc {
  text-decoration: underline;
}

pre .symbol,
pre .number,
pre .constant {
  color: #3387CC;
}

pre .params,
pre .variable {
  color: #3E87E3;
}

pre .support {
  color: #9b859d;
}

pre .support_function {
  color: #dad085;
}

pre .support_constant {
  color: #cf6a4c;
}

pre .method-entity,
pre .property-entity,
pre .entity {
  color: #89bdff;
}

pre .css .keyword,
pre .pseudo,
pre .tex .special {
  color: #CDA869;
}

pre .css .class {
  color: #9B703F;
}

pre .rules .keyword {
  color: #C5AF75;
}

pre .rules .value {
  color: #CF6A4C;
}

pre .css .id {
  color: #8B98AB;
}

pre .annotation,
pre .apache .sqbracket,
pre .nginx .built_in {
  color: #9B859D;
}

pre .preprocessor {
  color: #8996A8;
}

pre .hexcolor,
pre .css .value .number {
  color: #DD7B3B;
}

pre .css .function {
  color: #DAD085;
}

pre .diff .header,
pre .chunk,
pre .tex .formula {
  background-color: #0E2231;
  color: #F8F8F8;
  font-style: italic;
}

pre .diff .change {
  background-color: #4A410D;
  color: #F8F8F8;
}

pre .addition {
  background-color: #253B22;
  color: #F8F8F8;
}

pre .deletion {
  background-color: #420E09;
  color: #F8F8F8;
}

pre { white-space: pre-wrap; padding: 1em; margin: 0.5em 0; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
pre code { font-size: 0.9em; }
