<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/t/common.css">
</head>
<body>
<div class="main-wrapper">
<h class="blog-name">{{ site.title }}</h>

<div style="margin-bottom:20px;">Contact me on <a href="https://twitter.com/peterleonov">Twitter</a>.</div>

{{ content }}

</div>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/sunburst.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
