<!DOCTYPE html>
<html lang="ru">
<head>
	<title>{{ page.title }} — {{ site.en.title }}</title>
	<link rel="alternate" type="application/rss+xml" title="{{ site.en.title }}" href="http://feeds.feedburner.com/cmsbuilder"/>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="/t/common.css"/>
</head>
<body>
<div class="main-wrapper">

<a href="/" class="blog-name">{{ site.en.title }}</a>

<div class="post">
	<section>
		<h1 class="title">{{ page.title }}</h1>
		<span class="date">{{ page.date | date: "%d.%m.%Y" }}</span>
		<section class="content markdown">
		{{ content }}
		</section>
	</section>
	
	<dl class="tags">
		<dt class="head">Tags:</dt>
		<dd class="body">
			<ul class="list">
			{% for tag in page.categories %}
			<li class="tag" data-tag-value="{{ tag }}">{{ tag }}</li>
			{% endfor %}
			</ul>
		</dd>
	</dl>
	
	<div class="comments">Can't wait your comments at <a href="mailto:Comment for {{ site.en.title }} <{{ site.en.author.email }}>?subject=Re: {{ page.title }}">email</a> or <a href="https://github.com/kung-fu-tzu/kung-fu-tzu.github.com/issues">at github</a>.</div>
</div>

</div>

<script src="/js/highlight-pack.js"></script>
<script src="/js/track.js"></script>
<noscript><div style="position: absolute; left: -10px; top: -10px"><img src="//mc.yandex.ru/watch/602975"/></div></noscript>

</body>
</html>