<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }} — {{ site.title }}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/t/common.css">
</head>
<body>
<div class="main-wrapper">

<a href="/" class="blog-name">{{ site.title }}</a>

<div class="post">
  <section>
    <h1 class="title">{{ page.title }}</h1>
    <span class="date">{{ page.date | date: "%d %B %Y" }}</span>
    <section class="content markdown">
    {{ content }}
    </section>
  </section>

  <dl class="tags">
    <dt class="head">Tags:</dt>
    <dd class="body">
      <ul class="list">
      {% for tag in page.categories %}
      <li class="tag" data-tag-value="{{ tag }}">{{ tag }}</li>
      {% endfor %}
      </ul>
    </dd>
  </dl>

  <div class="comments">

  </div>
</div>

</div>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/sunburst.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
