<!DOCTYPE html>
<html lang="ru">
<head>
	<title>{{ page.title }} — {{ site.title }}</title>
	<link rel="alternate" type="application/rss+xml" title="Блог Конфуция" href="http://feeds.feedburner.com/cmsbuilder"/>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="/t/common.css"/>
</head>
<body>
<div class="main-wrapper">

<a href="/" class="blog-name">{{ site.title }}</a>

<div class="post">
	<section>
		<h class="title">{{ site.title }}</h>
		<span class="date">{{ post.date | date: "%d.%m.%Y" }}</span>
		<section class="content">
		{{ content }}
		</section>
	</section>
	
	<dl class="tags">
		<dt class="head">Теги:</dt>
		<dd class="body">
			<ul class="list">
			{% for tag in post.categories %}
			<li class="tag">{{ tag }}</li>
			{% endfor %}
			</ul>
		</dd>
	</dl>
	
	<div class="comments">Очень жду ваших комментариев <a href="mailto:Комментарии блога Конфуция <{{ site.author.email }}>?subject=Re: {{ post.title }}">на почту</a>.</div>
</div>

</div>

<script src="/js/highlight-pack.js"></script>
<script src="/js/track.js"></script>
<noscript><div style="position: absolute; left: -10px; top: -10px"><img src="//mc.yandex.ru/watch/602975"/></div></noscript>

</body>
</html>